%main{:role => "main"}
  .login-main-container
    .row
      .login-logo-container
        = fa_icon "github-square", style: "font-size: 200px"
        %h1 GitHub RepoSearch
      .login-button-container
        = link_to github_authorization_path, class: "btn btn-primary btn-lg" do
          = fa_icon "sign-in", text: "Login with Github"