- if @result.present?
  %h4 Language Filter
  %ul.nav.nav-pills.nav-stacked
    - language_count(@result).each do |language, count|
      %li
        = link_to github_search_path(query: { text: "#{params[:query][:text].presence}+language:#{language}"}), method: :post, remote: true do
          = language