= render 'shared/loading_indicator'
.container
  = render "shared/alert_modal"
  .row
    - if @result.present?
      #language-panel.col-lg-2.col-md-2.col-sm-2.col-xs-3
        = render "shared/language_panel"
      %ul#repo-container.repolist.col-lg-10.col-md-10.col-sm-10.col-xs-9
        = render "shared/repo_panel"
    - else
      #search-message.center
        %h1 Go ahead a look something up!