.btn-group{style: "float: right"}
  %button.btn.btn-default{type: "button"} Sort by Stargazers
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu{role: "menu"}
    %li
      %a{href: "#"} ASC
    %li
      %a{href: "#"} DESC