$blue: #428bca;
$grey: #eee;


.center {
  text-align: center
}

#language-panel {
  padding-top: 50px;
}

.loading-screen {
    display:    none;
    position:   fixed;
    z-index:    1000;
    padding-top: 100px;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 ) 
                50% 50% 
                no-repeat;
}

.loading {
    overflow: hidden;   
}

.loading .loading-screen {
    display: block;
}

.login-main-container {
  @extend .container;
  text-align: center;
  padding-top: 30px;
}

.login-logo-container {
  @extend .col-lg-4;
  @extend .col-lg-offset-4;
  text-align: center;
}

.login-button-container {
  @extend .col-lg-4;
  @extend .col-lg-offset-4;
  text-align: center;
  padding-top: 20px;
}

#repo-container {

  padding: 50px;

  .repolist-header {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    padding-bottom: 20px;

    h4 {
      margin: 0;
      color: $blue;
    }
  }

  .repo {
    position: relative;
    min-height: 66px;
    padding-left: 45px;
    padding-bottom: 20px;
    margin: 0 0 20px;
    list-style: none;
    border-bottom: 1px solid #eee;
  }

  .repo-name {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    color: $blue;
  }

  .repo-description {
    margin: 0 0 5px;
    color: #333333;
  }

  .repo-updated-at {
    margin: 0;
    font-size: 11px;
    color: #999999;
  }
  .repo-stats {
    position: relative;
    top: 9px;
    z-index: 5;
    float: right;

    li {
      float: left;
      list-style: none;
      font-size: 11px;
      font-weight: bold;
      line-height: 20px;
      color: #666;
      border-bottom: none
    }

    li.stargazers {
      padding-left: 15px;
    }
  }
}

.search-bar-container {
  @extend .container;
  background-color: $grey;
  width: 100%;
  margin-top: 51px
}

.username-nav-item {
  margin: 7px 20px 0 20px;
}



















