$blue: #428bca;
$blue-light: #eee;

.red {
  #background-color: red;
  height: 100%;
  padding: 10px;
}

.grey {
  background-color: grey;
  height: 100px;
}

.center {
  text-align: center
}

#language-panel {
  padding-top: 50px;
}

.login-main-container {
  @extend .container;
  text-align: center;
  padding-top: 30px;
}

.login-logo-container {
  @extend .col-lg-4;
  @extend .col-lg-offset-4;
  text-align: center;
}

.login-button-container {
  @extend .col-lg-4;
  @extend .col-lg-offset-4;
  text-align: center;
  padding-top: 20px;
}

.repolist {

  padding: 50px;

  .repolist-li {
    position: relative;
    min-height: 66px;
    padding-left: 45px;
    padding-bottom: 20px;
    margin: 0 0 20px;
    list-style: none;
    border-bottom: 1px solid #eee;
  }

  .repolist-name {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    color: $blue;
  }

  .description {
    margin: 0 0 5px;
    color: #333333;
  }

  .updated-at {
    margin: 0;
    font-size: 11px;
    color: #999999;
  }
  .repo-stats {
    position: relative;
    top: 9px;
    z-index: 5;
    float: right;

    li {
      float: left;
      list-style: none;
      font-size: 11px;
      font-weight: bold;
      line-height: 20px;
      color: #666;
      border-bottom: none
    }

    li.stargazers {
      padding-left: 15px;
    }
  }
}

.search-bar-container {
  @extend .container;
  background-color: $blue-light;
  width: 100%;
  margin-top: 51px
}

.sort-bar {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
  padding-bottom: 20px;

  h4 {
    margin: 0;
    color: $blue;
  }
}

.username-nav-item {
  margin: 7px 20px 0 20px;
}

/* -----------------------------------
    Loading Screen
----------------------------------- */
.loading-screen {
    display:    none;
    position:   fixed;
    z-index:    1000;
    padding-top: 100px;
    // top:        0;
    // left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 ) 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.loading .loading-screen {
    display: block;
}


















