%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = fa_icon "github-square", style: "font-size: 40px", class: 'navbar-brand'
    .collapse.navbar-collapse
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li{style: "margin: 7px 20px 0 20px"}
            %h5= current_user.username.downcase
          %li
            = link_to logout_path do
              = fa_icon "sign-out", text: "Logout"
